<link rel="stylesheet" type="text/css" href="/css/admin.css">
<div id="admin-nav">
    <ul>
        <li><a href="/admin/add">Add Page</a></li>
        <li><a href="/admin/editheader">Edit Header</a></li>
        <li><a href="/admin/manage">Manage</a></li>
        <li><a href="/admin/logout">Logout</a></li>
    </ul>
</div>

<div class="clear"></div>
