<header>
    <img src="/images/<%= output.headerData.image %>" alt="Logo">
    <h1><%= output.headerData.title %></h1>
    <h2><%= output.headerData.tagline %></h2>
    <div class="clear"></div>
</header>