<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="icon" type="image/ico" href="/images/goat_icon.ico">

<link href="/CSS/main.css" type="text/css" rel="stylesheet">