<div id="sidebar">
    <label for="navpages">Pages</label>
    <select id="sidebarNavOption" name="navpages">
        <% if(typeof output.pageList !== 'undefined'){
            for (var page of output.pageList){
                %>
                <option value="<%= page.url %>"><%= page.title %></option>                
                <%
            }
        } 
        %>
    </select>
    <button id="sidebarButton" onclick="sidebarNavigate();">Go</button>
</div>

<script>
    function sidebarNavigate()
    {
        var navoptions = document.getElementById('sidebarNavOption');
        if (navoptions !== null)
        {
            window.location = ("/" + navoptions.value);
        }
    }
</script>