<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Page</title>
    <%- include('_layouts/head_data') -%>

    <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/decoupled-document/ckeditor.js"></script> -->
</head>
<body>
    <%- include('_layouts/header') -%>
    <%- include('_layouts/adminnav') -%>

    <h1>Edit Page</h1>

    <form name="editpageform" method="POST" action="" enctype="multipart/form-data">
    <div>
        <label for="title">Page Title: </label>
        <input type="text" name="title" value="<%= output.pageData.title %>">
    </div>
    <div>
        <label for="url">Url: </label>
        <input type="text" name="url" value="<%= output.pageData.url %>">
    </div>
    <div>
        <label for="imageUpload">Image: </label>
        <input type="file" name="imageUpload">
    </div>
    <div>
        <!-- <div id="toolbar-container"></div> -->
        <!-- <div id="editor"><p>Test</p></div> -->
        <label for="message">HTML: </label>
        <textarea id="editor" name="message"><%= output.pageData.html %></textarea>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
    </form>

    <% if(typeof output.errors !== 'undefined'){
        for (var error of output.errors){
            %>
            <h3><%= error.msg %></h3>
            <%
        }
    } 
    %>

    <%- include('_layouts/footer') -%>
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
    <!-- <script>
        DecoupledEditor
            .create( document.querySelector( '#editor' ) )
            .then( editor => {
                const toolbarContainer = document.querySelector( '#toolbar-container' );
    
                toolbarContainer.appendChild( editor.ui.view.toolbar.element );
            } )
            .catch( error => {
                console.error( error );
            } );
    </script> -->
</body>
</html>