<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Header</title>
    <%- include('_layouts/head_data') -%>
</head>
<body>
    <%- include('_layouts/header') -%>
    <%- include('_layouts/adminnav') -%>

    <h1>Edit Header</h1>

    <form name="editheaderform" method="POST" action="" enctype="multipart/form-data">
    <div>
        <label for="title">Title: </label>
        <input type="text" name="title" value="<%= output.headerData.title %>">
    </div>
    <div>
        <label for="tagline">Tagline: </label>
        <input type="text" name="tagline" value="<%= output.headerData.tagline %>">
    </div>
    <div>
        <label for="imageUpload">Image: </label>
        <input type="file" name="imageUpload">
    </div>
    <div>
        <label for="footer">Footer: </label>
        <input type="text" name="footer" value="<%= output.headerData.footer %>">
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
    </form>

    <% if(typeof output.errors !== 'undefined'){
        for (var error of output.errors){
            %>
            <h3><%= error.msg %></h3>
            <%
        }
    } 
    %>

    <%- include('_layouts/footer') -%>
</body>
</html>