<!DOCTYPE html>
<html lang="en">
<head>
    <title>Placeholder</title>
    <%- include('_layouts/head_data') -%>
</head>
<body>
    <%- include('_layouts/header') -%>
    <%- include('_layouts/navmenu') -%>
    <main>
        <img src="images/mountain_goat.jpg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam deserunt optio numquam voluptates fugit expedita assumenda eius qui incidunt ullam temporibus illum voluptatibus, deleniti ut, doloribus labore? Dolorem, autem repudiandae?</p>
    </main>
    <%- include('_layouts/sidebar') -%>
    <%- include('_layouts/footer') -%>
</body>
</html>