<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <%- include('_layouts/head_data') -%>
</head>
<body>
    <%- include('_layouts/header') -%>
    <%- include('_layouts/sidebar') -%>

    <h1>Login</h1>

    <form name="loginform" method="POST" action="/admin/login" enctype="multipart/form-data">
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" autofocus>
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" name="password">
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
    </form>

    <% if(typeof output.errors !== 'undefined'){
        for (var error of output.errors){
            %>
            <h3><%= error %></h3>
            <%
        }
    } 
    %>

    <%- include('_layouts/footer') -%>
</body>
</html>