<!DOCTYPE html>
<html lang="en">
<head>
    <title>Logout</title>
    <%- include('_layouts/head_data') -%>
</head>
<body>
    <%- include('_layouts/header') -%>

    <h1>You have successfully logged out.</h1>
    <h3>You will be redirected to the Homepage.</h3>
    <p><a href="/">Click here to return to the Homepage immediately.</a></p>

    <%- include('_layouts/footer') -%>
</body>
<script>
    setTimeout(function () {
       window.location = "/";
    }, 3000);
  </script>
</html>