<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manage Site</title>
    <%- include('_layouts/head_data') -%>
</head>
<body>
    <%- include('_layouts/header') -%>
    <%- include('_layouts/adminnav') -%>

    <h1>Manage Pages</h1>
    <main>
    <table id="adminPageList">
        <tr>
            <th>Page</th>
            <th colspan="2">Manage</th>
        </tr>
        <% if(typeof output.pageList !== 'undefined'){
            for (var page of output.pageList){
                %>
                <tr>
                    <td><a href="/<%= page.url %>"><%= page.title %></a></td>
                    <td><a href="edit/<%= page.url %>">Edit</a></td>
                    <td><a href="delete/<%= page.url %>">Delete</a></td>
                </tr>
                <%
            }
        } 
        %>

    </table>

    <% if(typeof errors !== 'undefined'){
        for (var error of errors){
            %>
            <h3><%= error.msg %></h3>
            <%
        }
    } 
    %>
    </main>
    <%- include('_layouts/footer') -%>
</body>
</html>