<!DOCTYPE html>
<html lang="en">
<head>
    <title>Logout</title>
    <%- include('_layouts/head_data') -%>
</head>
<body>
    <%- include('_layouts/header') -%>

    <h1>Error 404</h1>
    <h3>Page not found.</h3>
    <p><a href="javascript:history.back()">Go Back</a></p>
    <p><a href="/">Click here to return to Homepage.</a></p>

    <%- include('_layouts/footer') -%>
</body>
</html>