<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= output.pageData.title %></title>
    <%- include('_layouts/head_data') -%>
</head>
<body>
    <%- include('_layouts/header') -%>
    
    <main>
        <h1><%= output.pageData.title %></h1>
        <% if (output.pageData.image != "") { %>
            <img src="/images/<%= output.pageData.image %>" alt="<%= output.pageData.image %>">
        <% } %>
        <%- output.pageData.html %>
    </main>

    <%- include('_layouts/sidebar') -%>
    <%- include('_layouts/footer') -%>
</body>
</html>