#admin-nav{
    margin: 10px 0;
    padding: 0;
    width: 100%;
    display: block;
}
#admin-nav ul{
    display: block;
    width: 100%;
    background-color: grey;
    list-style-type: none;
    overflow: clip;

}
#admin-nav ul li{
    width: 248px;
    float: left;
    text-align: center;
    background-color: grey;
    /* padding: 10px 0; */
    border-right: 1px solid black;
    border-left: 1px solid black;
}
#admin-nav ul li a{
    display: block;
    padding: 10px 0;
}
#admin-nav ul li a:hover{
    background: lightgray;
}
#admin-nav::after{
    display: block;
}

body{
    background-color: aliceblue;
}

#adminPageList table{
    margin: 10px auto;
}

#adminPageList table th{
    font-weight: bold;
}

#adminPageList tr, #adminPageList th, #adminPageList td{
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}