*{
    margin: 0;
    padding: 0;
}
body{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
}
header{
    border-bottom: 1px solid black;
}
header h1, header h2{
    margin: 10px;
    text-align: center;
}
header img{
    float:left;
    width: 50px;
    height: 60px;
    margin: 0 auto;
}
#nav{
    margin: 0;
    padding: 0;
}
#nav ul{
    display: block;
    list-style-type: none;
}
#nav ul li{
    width: 498px;
    float: left;
    text-align: center;
    background: grey;
    /* padding: 10px 0; */
    border-right: 1px solid black;
    border-left: 1px solid black;
}
#nav ul li a{
    display: block;
    padding: 10px 0;
}
#nav ul li a:hover{
    background: lightgray;
}
#nav ul ul{
    display: none;
}
main{
    float: left;
    width: 700px;
}
main p{
    padding: 10px;
    width: 300px;
    float:right;
}
main img{
    float: left;
    margin: 10px 10x 10px 0px;
    width: 300px;
    display: block;
}

#sidebar{
    float: right;
    width: 200px;
    padding: 10px;
    border-left: 1px solid black;
    min-height: 300px;
    background: lightblue;
}

footer{
    clear: both;
    padding: 10px;
    border-top: 1px solid black;
}
#copy{
    text-align: center;
}

.clear{
    clear: both;
}